<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <h1>Главная</h1>
        <div>
            {% if not username %}
            <a href="/register">Регистрация</a>
            <a href="/login">Вход</a>
            {% else %}
            <p>{{username}}</p>
            <a href="/logout">Выход</a>
            <a href="/post">Новый пост</a>
            {% endif %}
        </div>
    </div>

    <ul>
        {% for profile in profiles %}
        <li>
            <a href="/profile/{{ profile.owner }}">{{ profile.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <form action="/search_post">
        <input type="text" name="search_text" placeholder="Найти что нибудь">
        <button type="submit">Найти</button>
    </form>

    <ul id="posts_list">
        {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <a href="/post/{{ post.id }}">Подробнее</a>
        </li>
        {% empty %}
        <li>Постов пока нет</li>
        {% endfor %}
    </ul>

</body>

</html>